*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:cursive;
}
.body{
    display: flex;
    justify-content: center;
    background-color: rgba(4, 245, 133, 0.253);
}
.container{
    margin-top: 40px;
}
.h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: underline;
}
.row{
    display: flex;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid black;
}
.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.btn{
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-weight: bolder;
    font-size: large;
    color: white;
    background-color: rgb(0, 132, 255);
    transition: 0.3s ease-in-out;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.btn:hover{
    background-color: rgb(0, 255, 234);
    color: black;
}
.alert{
    transition: 0.5s ease-in-out;
}